modules = ["python-3.11"]
[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "freetype", "imagemagickBig", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "tcl", "tk", "xsimd", "zlib"]
